ul {
    width: 100%;
    height: 100%;
    li {
        margin-top: 10px;
        font-size: 15px;
        margin-left: -10px;
        padding-left: 10px;
        color: #555555;
        border-bottom: 1px solid #e0e0e0;
        font-family: 'Open Sans', sans-serif !important;
        list-style-type: none;
        width: 100%;
        padding-bottom: 5px;

    }
    li:hover{
        color: red;
        cursor: pointer;
    }
}