<div class="slice-2">
    <div class="left">
        <img src="https://theme.hstatic.net/200000287623/1000948667/14/hnb_img_2.jpg?v=298" style="width: 100%;" />
    </div>
    <div class="right">
        <img src="https://theme.hstatic.net/200000287623/1000948667/14/hnb_img_1.jpg?v=298" style="width: 100%;" />
    </div>
</div>

<h1 style="margin-left: 43%; margin-top: 2%;">Bài viết mới</h1>

<div class="posts">
    
    <div class="post">
        <img src="https://file.hstatic.net/200000287623/article/364704651_674250461414868_2797024277820425816_n_cb1cf5c1c30049f3bf50f2a9276eb5f4_large.jpg" />
        <div class="content">
            <h4>[ĐIỂM SÁCH] BẠN CÙNG NHÀ TRÈO LÊN ĐẦU TÔI: CHUYỆN CỦA MỘT NHÀ VĂN LẬP DỊ VÀ BÉ MÈO HOANG HAY NGHĨ NHIỀU</h4>
            <p>
                
        BẠN CÙNG NHÀ THI THOẢNG TRÈO LÊN ĐẦU TÔI&nbsp;là bộ truyện tranh sâu lắng, nhưng cũng không kém phần đáng yêu về cuộc sống hàng ngày của một chàng nhà văn hướng nội và bé mèo ho...
    
            </p>
        </div>
    </div>
    <div class="post">
        <img src="https://file.hstatic.net/200000287623/article/364704651_674250461414868_2797024277820425816_n_cb1cf5c1c30049f3bf50f2a9276eb5f4_large.jpg" />
        <div class="content">
            <h4>[ĐIỂM SÁCH] BẠN CÙNG NHÀ TRÈO LÊN ĐẦU TÔI: CHUYỆN CỦA MỘT NHÀ VĂN LẬP DỊ VÀ BÉ MÈO HOANG HAY NGHĨ NHIỀU</h4>
            <p>
                
                BẠN CÙNG NHÀ THI THOẢNG TRÈO LÊN ĐẦU TÔI&nbsp;là bộ truyện tranh sâu lắng, nhưng cũng không kém phần đáng yêu về cuộc sống hàng ngày của một chàng nhà văn hướng nội và bé mèo ho...
            
                    </p>
        </div>
    </div>
    <div class="post">
        <img src="https://file.hstatic.net/200000287623/article/364704651_674250461414868_2797024277820425816_n_cb1cf5c1c30049f3bf50f2a9276eb5f4_large.jpg" />
        <div class="content">
            <h4>[ĐIỂM SÁCH] BẠN CÙNG NHÀ TRÈO LÊN ĐẦU TÔI: CHUYỆN CỦA MỘT NHÀ VĂN LẬP DỊ VÀ BÉ MÈO HOANG HAY NGHĨ NHIỀU</h4>
            <p>
                
                BẠN CÙNG NHÀ THI THOẢNG TRÈO LÊN ĐẦU TÔI&nbsp;là bộ truyện tranh sâu lắng, nhưng cũng không kém phần đáng yêu về cuộc sống hàng ngày của một chàng nhà văn hướng nội và bé mèo ho...
            
                    </p>
        </div>
    </div>
</div>