<div class='main'>

    <div class='row'>

        <div class="col-12 col-s-12 contents">
            <div class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-barcode"></i> Nhập thông tin sách
                        <hr />
                    </div>
                    <div class="row">
                        <div>

                            <div class="modal-body">
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã sách:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="id" placeholder="Mã sách" class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tên sách:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.sanpName"  name="sanp_name" type="text" id="form-field-1" placeholder="Tên sách"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Size:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.size" name="size" type="text" id="form-field-1" placeholder="Size"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tác giả:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.tgId" name="tg_id" type="text" id="form-field-1" placeholder="Tác giả"
                                        class="col-xs-10 col-sm-5" />
                                    <!-- <select ng-model="tacgia">
                                        <option ng-repeat="x in listTg" value="{{{{x.tG_id}}}}">{{{{x.tG_name}}}}</option>
                                    </select> -->
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Loại sản phẩm:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <!-- <select ng-model="loaisp">
                                        <option ng-repeat="x in listLoaisp" value="{{{{x.loai_id}}}}">{{{{x.loai_name}}}}</option>
                                    </select> -->
                                    <input [(ngModel)] = "requestData.sanpham.loaiId" name="loai_id" type="text" id="form-field-1" placeholder="Loại sản phẩm"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Nhà xuất bản:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.nsxId" name="nsx_id" type="text" id="form-field-1" placeholder="Nhà xuất bản"
                                        class="col-xs-10 col-sm-5" />
                                    <!-- <select ng-model="nhasanxuat">
                                        <option ng-repeat="x in listNhasx" value="{{{{x.nsx_id}}}}">{{{{x.nsx_name}}}}</option>
                                    </select> -->
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Số trang:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.sotrang" name="soTrang" type="text" id="form-field-1" placeholder="Số trang"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tóm tắt:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.tomtat" name="tomTat" type="text" id="form-field-1" placeholder="Năm sản xuất"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Năm sản xuất:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.namsx" name="namsx" type="date" id="form-field-1" placeholder="Năm sản xuất"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">gia:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.gia" name="gia" type="text" id="form-field-1" placeholder="Giá cả"
                                        class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Image:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input [(ngModel)] = "requestData.sanpham.image" name="image" type="text" id="form-field-1" placeholder="Giá cả"
                                        class="col-xs-10 col-sm-5" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button (click)="addproduct()" type="submit" class="btn-form">Thêm danh mục</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 4%" class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-barcode"></i> Danh sách tác phẩm
                        <hr />
                    </div>
                    <div class="row">
                        <form style="display: flex; margin-left: -10px;">
                            <!-- ... (similar conversion for search form) ... -->
                        </form>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-12 col-s-12 padding-box">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>size</th>
                                        <th>Tác giả</th>
                                        <th>Loại sản phẩm</th>
                                        <th>Nhà xuất bản</th>
                                        <th>Số trang</th>
                                       
                                        <th>Năm sản xuất</th>
                                        <th>Image</th>
                                        <th>Giá</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of product">
                                        <td>{{x.sanpId}}</td>
                                        <td>{{x.sanpName}}</td>
                                        <td>{{x.size}}</td>
                                        <td>{{x.tgId}}</td>
                                        <td>{{x.loaiId}}</td>
                                        <td>{{x.nsxId}}</td>
                                        <td>{{x.sotrang}}</td>
                                        
                                        <td>{{x.namsx}}</td>
                                        <td>
                                            <img src= "../../../../assets/img/book/{{x.image}}" />
                                        </td>
                                        <td>{{x.gia}}</td>
                                        <td (click)="deleteproduct(x.sanpId)">Xoá</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <div class="box-sum">
                                <div class="box-right">
                                    <button (click)="previousPage()">
                                        <i class="fa fa-chevron-left" style="margin-top: -8px;"></i>
                                    </button>
                                    <button *ngFor="let page of totalPageArray" (click)="setPage(page)">
                                        {{ page }}
                                    </button>
                                    <button (click)="nextPage()">
                                        <i class="fa fa-chevron-right" style="margin-top: -8px;"></i>
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>