<div class="slice">
    <img style="width: 100%; height: 100%" src="//theme.hstatic.net/200000287623/1000948667/14/slideshow_1.jpg?v=298" alt="2323123" draggable="false" />
</div>
<div class="news">
    <div class="news-content">
        <div class="content-left">
            <img src="//theme.hstatic.net/200000287623/1000948667/14/hpl_icon_1.jpg?v=298" alt="ƯU ĐÃI VẬN CHUYỂN" style="width: 95%; margin-left: 1.2em; margin-top: -1.2em; height: 90%;">
        </div>
        <div class="content-right" style="padding: 5%;">
            <p style="font-weight: bolder;">Miễn phí giao hàng</p>
            <p style="margin-top: 1.2em;">FreeShip đơn hàng từ 500k</p>
        </div>
    </div>
    <div class="news-content">
        <div class="content-left">
            <img src="//theme.hstatic.net/200000287623/1000948667/14/hpl_icon_2.jpg?v=298" alt="THỂ LOẠI SÁCH PHONG PHÚ">
        </div>
        <div class="content-right" style="padding: 5%;">
            <p style="font-weight: bolder;">Thể loại sách</p>
            <p style="margin-top: 1.2em;">Vô cùng phong phú</p>
        </div>
    </div>
    <div class="news-content">
        <div class="content-left">
            <img src="//theme.hstatic.net/200000287623/1000948667/14/hpl_icon_3.jpg?v=298" alt="KHUYẾN MẠI HẤP DẪN">
        </div>
        <div class="content-right" style="padding: 5%;">
            <p style="font-weight: bolder;">Ưu đãi khách hàng</p>
            <p style="margin-top: 1.2em;">Chính sách khách hàng hấp dẫn</p>
        </div>
    </div>
    <div class="news-content">
        <div class="content-left">
            <img src="//theme.hstatic.net/200000287623/1000948667/14/hpl_icon_4.jpg?v=298" alt="Hotline: 03 2838 3979 03 3319 3979">
        </div>
        <div class="content-right" style="padding: 5%;">
            <p style="font-weight: bolder;">HOTLINE</p>
            <p style="margin-top: 1.2em;">0971877014</p>
        </div>
    </div>
</div>
