.news {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    display: flex;

    .news-content {
        height: 80%;
        justify-content: center;
        display: flex;
        width: 25%;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid black;

        .content-left {
            width: 30%;
            padding: 10px;

            height: 100%;


        }

        .content-right {
            width: 80%;

            height: 100%;


        }
    }
}
.slice{
    height: 400px;
    width: 100%;
}