<app-layout></app-layout>
<div class="main">
    <div class="row">
        <div class="col-12 col-s-12 contents">
            <div class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-barcode"></i> Nhập thông tin tác giả
                        <hr />
                    </div>
                    <div class="row">
                        <form method="post">
        
                            <div class="modal-body">
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tên tác giả:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="id" placeholder="Mã loại" class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Địa chỉ:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input name="sanp_name" type="text" id="form-field-1" placeholder="Tên sách" class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Số điện thoại:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input name="sanp_name" type="text" id="form-field-1" placeholder="Tên sách" class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Email:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input name="sanp_name" type="text" id="form-field-1" placeholder="Tên sách" class="col-xs-10 col-sm-5" />
                                </div>
                             
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn-form">Thêm tác giả</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="margin-left: 4%;" class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-barcode"></i> Danh sách tác giả
                        <hr />
                    </div>
                    <div class="row">
                        <form style="display: flex; margin-left: -10px;" method="post" >
                            <div class="col-10 col-s-12 padding-box">
                                <input name="tenloai" type="text" placeholder="Nhập mã, tên thể loại..." />
                            </div>
                            <div class="col-2 col-s-12 padding-box">
                                <button type="submit"><i class="fas fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12 col-s-12 padding-box">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã tác giả</th>
                                        <th>Tên tác giả</th>
                                        <th>Địa chỉ</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <div class="box-sum">
                                <div class="box-right">
                                    <button><i class="fas fa-angle-left"></i></button>
                                    <button>1</button>
                                    ...
                                    <button>4</button>
                                    <button><i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
